.root {
     -fx-background-color: #7d7d7d;
}

.button {
    -fx-background-radius: 0;
    -fx-background-color: #7d7d7d;
    -fx-padding: 0;
}

.button:pressed {
	-fx-opacity: 0.5;
}

.date {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 10pt;
}

.weathericon {
    -fx-text-fill: white;
    -fx-font-family: "artill clean fixed";
}

.temps {
    -fx-text-fill: gray;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24pt;
    -fx-alignment: center-right;
}

.locname {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

.triplisttemp {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
}

.triplisttime {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 9pt;
}

.arrow {
    -fx-text-fill: white;
    -fx-font-family: "Material Icons";
    -fx-font-size: 10pt;
}

.tripplannername {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14pt;
}

.tripplannertime {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-weight: 500;
    -fx-font-size: 24pt;
}

.tripplannerrepeat {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12pt;
}

.bordered {
    -fx-border-width: 1;
    -fx-border-color: white;
}

#triplistwicon {
    -fx-font-size: 30pt;
}

#overviewwicon {
    -fx-font-size: 52pt;
}

#btn1 {
	-fx-background-color: #00bff3;
}

#btn2 {
	-fx-background-color: #fbaf5d;
}

#btn3 {
	-fx-background-color: #3cb878;
}

#btn4 {
	-fx-background-color: #f26d7d;
}

#addbtn {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 50pt;
}