.root {
     -fx-background-color: #7d7d7d;
}

.button {
    -fx-background-radius: 0;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-padding: 0;
}

.button:pressed {
	-fx-opacity: 0.5;
}

.weathericon {
    -fx-text-fill: white;
    -fx-font-family: "artill clean fixed";
}

#darkgreytext {
    -fx-text-fill: #464646;
}

.overviewdate {
    -fx-text-fill: #dcdcdc;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24pt;
}

.overviewday {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 32pt;
}

#overviewwicon {
    -fx-font-size: 60pt;
}

.overviewtemp {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 52pt;
}

.overviewhilo {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 42pt;
}

.overviewtext {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18pt;
}

.triplistname {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
}

.triplisttemp {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 36pt;
}

.triplisttime {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18pt;
}

#triplistwicon {
    -fx-font-size: 48pt;
}

.arrow {
    -fx-text-fill: white;
    -fx-font-family: "Material Icons";
    -fx-font-size: 10pt;
}

.tripplannername {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24pt;
}

.tripplannertime {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-weight: 500;
    -fx-font-size: 48pt;
}

.tripplannerrepeat {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18pt;
}

.tripdetailname {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-weight: 500;
    -fx-font-size: 28pt;
}

.tripdetailtime {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24pt;
}

.tripdetailexacttemp {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-weight: 500;
    -fx-font-size: 48pt;
}

.tripdetailhilo {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24pt;
}

#tripdetailwicon {
    -fx-font-size: 60pt;
}

#tripdetailwind {
    -fx-text-fill: white;
    -fx-font-size: 48pt;
}

.tripdetailwindspeed {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24pt;
}

.tripdetailmoreinfo {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18pt;
}

#edittrippane{
	-fx-background-color: #00bff3
}

#edittriptitle {
	-fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-font-weight: 700;
    -fx-font-size: 36pt;
}

#daysButtons{
 		-fx-background-radius: 3em; 
 		-fx-text-fill: white;
 		-fx-font-family: "Helvetica";
        -fx-min-width: 60px;
        -fx-min-height: 60px;
        -fx-max-width: 60px; 
        -fx-max-height: 60px;
       	-fx-background-color: #00bff3;
        -fx-background-insets: 0px;
        -fx-padding: 1px;
}

#textField {
    -fx-background-color: #00bff3, #00bff3, #00bff3;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-effect: innershadow(three-pass-box, #00bff3, 12 , 0.5, 1, 1);
    -fx-alignment: center-left;
}
#textField:focused {
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 1 1, 1 1;
}

#addbtn {
    -fx-text-fill: white;
    -fx-font-family: "Helvetica";
    -fx-background-color: #7d7d7d;
    -fx-font-size: 50pt;
}

#textField {
    -fx-background-color:#00bff3 -fx-control-inner-background #00bff3;
    -fx-background-insets: 0;
    -fx-padding: 4 4 4 4;
}
#navButton {
	-fx-background-color: #464646;
	-fx-text-fill: white;
	
}